/***********************************
 * General Styles
 *
 */

html, body {
    background: #FFFFFF;
    padding: 0px !important;
}

select.form-control {
    height: 38px;
}

.card-white {
    background: #FFFFFF;
}

/***********************************
 * Mapper Styles
 *
 */

.col-toolbox {
    background: #373a3c;
    color: white;
    overflow-y: auto;
}

.mouse-coordinates {
    float: left;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

/***********************************
 * Tablesorter Styles
 *
 */

th.header {
    box-shadow: 0px -2px 0px 0px darkgrey inset;
    cursor: pointer;
}

th.headerSortDown {
    box-shadow: 0px -2px 0px 0px #0275D8 inset;
    color: #0275D8;
}

th.headerSortDown:after {
    content: "\f0d8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
}

th.headerSortUp {
    box-shadow: 0px -2px 0px 0px #0275D8 inset;
    color: #0275D8;
}

th.headerSortUp:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
}

/***********************************
 * Helper Styles
 *
 */

.display-none {
    display: none;
}