{{!-- Page-specific style overrides --}}
<style type="text/css">
    .jumbotron {
        margin-bottom: 0px;
    }
</style>

<div class="jumbotron p-a m-t-lg">
    <h1>
        Mapper
    </h1>

    <p class="lead">
        Here you can map out measurements on floor plans.
    </p>
</div>

{{mapper-component
    measurements=model
    createDataLength=(action 'createDataLength')
    deleteDataLength=(action 'deleteDataLength')
    editDataLengthUnit=(action 'editDataLengthUnit')
    deleteDataLengths=(action 'deleteDataLengths')
    createDataArea=(action 'createDataArea')
    deleteDataArea=(action 'deleteDataArea')
    editDataAreaUnit=(action 'editDataAreaUnit')
    deleteDataAreas=(action 'deleteDataAreas')
}}
