<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
    {{#link-to 'index' class='navbar-brand'}}
        <span class="fa fa-home"></span> Measurement Tool
    {{/link-to}}

    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            {{#link-to 'mapper' class='nav-link'}}
                Mapper
            {{/link-to}}
        </li>
    </ul>
</nav>